@font-face {
    font-family: "Sriracha";
    src: url("/homepage_images/Sriracha/Sriracha-Regular.ttf") format('opentype');
}
@font-face {
    font-family: "NotoSymbols";
    src: url("/homepage_images/Noto_Sans_Symbols_2\ 2/") format('opentype');
}

* {
    margin:0px;
    padding: 0px;
background-image: url();
}

.wrapper {
    background: lightcyan;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0vh;

    cursor: url(''), auto;
}

.digitalprice {
    color: #56a5ff;
    display: flex;
    padding: 100px;
    margin: 50px;
    vertical-align:text-bottom;
}

section .loader {
    position: relative;
    width: 120px;
    height: 120px;
}

nav a::after{
    transition: all 500ms;
}
nav a:hover{
    background-color: #56a5ff;
    color: white;
    border-radius: 3px;
}

body {
    margin: 0px;
    font-family: Sriracha, sans-serif;
    background-color: rgb(249, 238, 255);
}

div .imagebar
{
    background-image: url();
}

p, a, li {
    line-height: 1.5em;
    font-size: 1.1em;
    padding-top: 10px;
}

header {
    background-image: url();
    background-size: 500px;
    height: 100px;
    text-align: center;
    padding-top: 10px;
}

section {
    text-align: center;
    margin: 50px;
}

@media (max-width: 1020px) {
    .container {
        display:grid;
        grid-template-columns: 25% 75%;
    }
    .header {
        grid-column: 1/3;
    }
    .navigation {
        grid-column: 1/3;
    }
    .main {
    grid-column: 2/3;
    grid-row: 3/4;
    min-height: 70vh;
}
.footer {
    grid-column: 2/3;
    grid-row: 4/5;
}

}


@media (max-width: 720px) {
    .container {
        display:grid;
        grid-template-columns: 100%;
    }
    .header {
        grid-column: 1/3;
        grid-row: 1;
    }
    .navigation {
        grid-column: 1/3;
        grid-row: 2;
    }
    .main {
    grid-column: 1/3;
    grid-row: 3;
    min-height: 70vh;
}
    .footer {
    grid-column: 1;
    grid-row: 6;
}
}